<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cart</title>
</head>
<body>
    {{> navbar}}
    <section class="cart-section">
        <div class="small-container">
            <div class="cart-heading">
                <i class="fa-regular fa-cart-shopping"></i>
                <h1>Order Summary</h1>
            </div>
            <ul class="cart-items">
                {{#each cart}}
                    <li class="cart-item">
                        <div class="cart-item-product">
                            <img src="/img/{{this.product.image}}" alt="">
                            <div>
                                <h2>{{this.product.name}}</h2>
                            </div>
                        </div>
                        <div class="cart-item-quantity">
                            <form action="/cart/decrement/{{this.product.id}}?_method=PATCH" method="POST">
                                <button type="submit">-</button>
                            </form>
                            <span>{{this.quantity}}</span>
                            <form action="/cart/increment/{{this.product.id}}?_method=PATCH" method="POST">
                                <button type="submit">+</button>
                            </form>
                        </div>
                        <h4 class="cart-item-price">₹{{this.price}}</h4>
                    </li>
                {{/each}}    
            </ul>
            <h1 class="cart-total">Total Amount : <span>₹{{totalPrice}}</span></h1>
            <a href="/checkout/{{id}}" class="cart-btn btn-primary">Checkout</a>
        </div>
    </section>
    <script src="https://js.stripe.com/v3/"></script>
</body>
</html>